* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#productContainer {
    background-color: rgb(68, 68, 80);
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
}
h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}